:root{
    --primary-font: 'Open Sans';
    --heading-font: 'Playfair Display';
    --gray: #b2b2b2;
    --light-gray: #585858;
    --white: #fff;
    --background-light: #1f2125;
    --background-dark: #111010;
    --bs-primary: #bc9355;
    --bs-primary-rgb: 188, 147, 85;
    --bs-link-hover-color: #bc9355;
    --bs-link-color: #111010;
    --light : #f3f3f3;
    --black : #000;
}
*{
    line-height: 1.5;
}
body {
    background-color: var(--background-dark);   
    font-family: var(--primary-font);
    color: var(--gray);
    line-height: 1.6rem;
}
p{
    margin: 0;
}
.py-120{
    padding: 120px 0;
}
h1,h2,h3,h4,h5,h6{
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--heading-font);
}
h1{
    margin-bottom: 35px;
}
.text-light{
    color: var(--light);
}

.nav-tabs .nav-link,
.nav-tabs {
    border: 0;
    font-family: var(--heading-font);
    font-size: 22px;
    border-radius: 0;
    transition: all .5s;
}
.modal-dialog .nav-tabs .nav-item button:focus,
.modal-dialog .nav-tabs .nav-item button:hover {
    border: none;
    outline: 2px solid var(--bs-primary);
    color: var(--bs-primary);
    background-color: #1f2125;
    box-shadow: none;
}
.modal .btn-primary{
    color: var(--background-dark);
}
.btn-outline-primary {
    --bs-btn-color: #fff;
    --bs-btn-border-color: rgba(255, 255, 255, 0.5);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}
.btn{
    border-radius: 0;
    text-transform: uppercase;
}
/*  */
.btn-primary {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--bs-primary);
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 500;
}
.btn-primary::after,
.btn-primary::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--bs-primary);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
    transform: translateX(-100%);
}
.btn-primary::before {
    left: 100%;
    transform: translateX(0);
}

.btn-primary:hover::after {
    transform: translateX(0);
}
.btn-primary:hover::before{
    transform: translateX(-100%);
}
.btn-primary:hover {
    background-color: transparent;
    border-color: var(--bs-primary);
}
/* button varient */
.btn-primary-varient{
    background-color: var(--background-dark);
    color: var(--white) !important;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 500;
    border: none;
}
.btn-primary-varient::after,
.btn-primary-varient::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--bs-primary);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
    transform: translateX(0);
}
.btn-primary-varient::before {
    left: 100%;
    transform: translateX(-100%);
}

.btn-primary-varient:hover::after {
    transform: translateX(-100%);
}

.btn-primary-varient:hover::before{
    transform: translateX(0);
}
.btn-primary-varient:hover {
    background-color: var(--background-dark);
}

/*  */
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    z-index: 2;
}
.navbar .nav-item .nav-link {
    color: var(--white);
    line-height: 30px;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    overflow: hidden;
}
.navbar .nav-item .nav-link.active {

}
.navbar .nav-item .nav-link:focus::before{
    width: 100%;
} 

.navbar li.nav-item .nav-link::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #bc9355;
    bottom: 0;
    left: 0;
    transition: all .5s;
}

.navbar li.nav-item .nav-link:hover::before{
    width: 100%;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.dropdown-menu{
    background-color: var(--background-dark);
    border-radius: 0;
}
.dropdown-menu a{
    color: var(--white);
    text-transform: uppercase;
}
.dropdown-menu a:hover{
    background-color: var(--bs-primary);
}

.slider .slide1, .slider .slide2, .slider .slide3{
    width: 100%;
    height: 100vh;
    background-image: url(../img/slide-1.jpeg);
    background-position: center;
    background-size: cover;
}
.slider .slide2{
    background-image: url(../img/slide-2.jpeg);
}
.slider .slide3{
    background-image: url(../img/slide-3.jpeg);
}
.slider .carousel-control-prev, .slider .carousel-control-next{
    display: block;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: #869791;
    opacity: .5;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: none;
    transition: all .15s;
}
.slider .carousel-control-prev:hover, .slider .carousel-control-next:hover{
    opacity: 1;
}
.slider .carousel-control-next{
    left: unset;
    right: 5%;
}
.slider:hover  .carousel-control-prev,.slider:hover .carousel-control-next{
    display: block;
}
.slider .btn{
    padding: 12px 22px;
}
.services, .contact, .pricing, .about-main, .service-blog, .contact-form, .contact-numbers{
    background-color: var(--background-light);

}

p{
    font-size: 13px;
    color: var(--gray);
}
 .section-title h2{
    font-family: var(--heading-font);
    margin: 10px 0 20px;
}

.service-boxes .service-icon{
    height: 100px;
    width: 100px;
    border: 2px solid var(--bs-primary);
}
.service-boxes .service-box h4{
    margin-top: 30px;
    margin-bottom: 20px;
}
.service-boxes .service-box p{
    margin-bottom: 30px;   
}
.py-15{
    padding: 0 15px; 
}
.team-card img, .team-card .team-card-content{
    border: 1px solid #444;
    transition: all .3s;
    z-index: -1;
}

.team-card:hover img, .team-card:hover .team-card-content{
    border-color: var(--bs-primary);
}
.team-card .team-card-content{
    padding-top: 20px;
    padding-bottom: 30px;
}
.triangle{
    border-bottom: 220px solid var(--background-dark);
    border-left: 220px solid transparent;
    z-index: 1;
    bottom: 2px;
    right: 2px;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.triangle a i{
    color: var(--gray);
    border: 2px solid var(--gray);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: block;
    text-align: center;
    transition: all 0.3s;
}
.triangle a i:hover{
    color: var(--bs-primary);
    border: 2px solid var(--bs-primary);
    transform: rotate(360deg);
}
.team-card:hover .triangle{
    opacity: 1;
    visibility: visible;
}
.opening-time, .closing-time, form{
    margin-top: 60px;
}
.opening-time p, .closing-time p{
    margin-bottom: 10px;
}
 .form-control, .form-select, textarea{
    color: var(--gray);
    border-radius: 0;
    background-color: transparent;
    border: 1px solid var(--light-gray);
}

 .form-control:focus, .form-select:focus, textarea{
    background-color: transparent;
    border: 1px solid var(--bs-primary);
    color: unset;
    box-shadow: none;
    border-color: var(--bs-primary);   
}
form input, form select, .btn-primary{
    height: 42px;
    color: var(--light-gray);
}
form .btn-primary{
    color: var(--gray);
    width: 200px;
}
.testimonials .carousel-indicators{
    top: 100%;
}
.testimonials .carousel-indicators button{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0 7px;
}

.about{
    background-color: var(--background-light);
}
.about .col-7{
    padding-top: 90px;
}
.about h3{
    margin: 10px 0 20px;
}
.about-card img{
    width: 60px;
    height: 60px;
}

.offer{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    background-image: url(../img/bg-offfer.jpeg);
}
.offer .col-12{
    background-color: rgba(0, 0, 0, 0.8);
}
.offer .col-12 p{
    font-size: 14px;
    margin: 40px 0;
}
.offer .col-12 button{
    color: var(--gray);
    background-color: #1f2125;
}
.offer .col-12 button:hover{
    color: var(--white);
}
.offer .offer-content{
    padding-left: 80px;
}
.py-80{
    padding: 80px 0; 
}
.offer .col-4 img:first-child{
    left: 15%;
}
.offer .col-4 img{
    border: 2px solid var(--bs-primary);
}

footer .col-2 img{
    height: 65px;
    width: 65px;
    transform: rotate(-53deg);
}
footer .footer-logo-box{
    margin-bottom: 30px;
}
footer .footer-social li{
    list-style: none;
    height: 40px;
    width: 40px;
    background-color: var(--gray);
    transition: all .5s;
}
footer .footer-social li:hover{
    transform: rotate(360deg);
    background-color: var(--bs-primary);
}
footer .footer-social li a i{
    line-height: 40px;
    text-align: center;
    display: block;
    font-size: 24px;
}
footer .footer-social li:hover a{
    color: var(--white);
}
footer .footer-icon{
    width: 65px;
    height: 65px;
}

/* ===== about page ==== */
.banner{
    padding: 210px 0 100px;
    background-image: url(../img/about-bg-2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-main{
    background-color: var(--background-light);
}
.page-section-icon{
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: var(--bs-primary);
    transform: translate(50%, -50%) rotate(45deg);
    top: 0;
    right: 50%;
}
.page-section-icon i{
    display: block;
   text-align: center;
   line-height: 45px;
   color: var(--black);
   transform: rotate(135deg);
}
.about-main .about-content p{
    font-size: 14px;
    color: var(--gray);
    line-height: 1.6rem;
    padding: 7px 0;
}
.about-main .about-content p:first-child{
    font-size: 15px;
    padding: 0;
    margin-bottom: 10px;
}
.cards .pricing-card{
    /* border:2px solid var(--bs-primary); */
    border: 1px solid var(--gray);
    padding-bottom: 20px;
    transition: all .4s;
}
.cards .pricing-card .price-title{

    padding: 30px 0;
    font-family: var(--heading-font);
}
.cards .pricing-card .price-tag{
    transition: all .4s;

    padding: 10px 0 20px;
    background-color: var(--light-gray);
}
.cards .pricing-card .price-detail{
    padding: 20px;
}
.cards .pricing-card .price-detail p{
    margin-bottom: 10px;
    line-height: 1.6rem;
    font-size: 14px;
}
.cards .pricing-card:hover{
    border-color: var(--bs-primary);
}
.cards .pricing-card:hover .price-tag{
    background-color: var(--bs-primary);
}

.about-gallary{
    background-image: url(../img/about-bg-3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-gallary .gallary-item{
    border: 2px solid var(--bs-primary);
    height: 180px;
    width: 180px;
}
.about-gallary .about-gallary-content h3{
   line-height: 44px; 
   font-size: 33px;
   margin-bottom: 20px;
}
.about-gallary .about-gallary-content p{
   font-size: 14px;
   line-height: 1.6rem;
}

/*  */
.service-banner{
    background-image: url(../img/mass-head-service-1.jpeg) !important;
    background-size: cover;
    background-position: center center;
}
.service-blog .card{
    background-color: transparent;
    border: 1px solid var(--gray);
    border-radius: 0;
    padding: 0;
    text-align: center;
    /* margin: 0 15px; */

}
.contact-banner{
    background-image: url(../img/mass-head-service-1.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/*  */
.contact_form input{
    width: 100%;
}
.contact_form textarea{
    padding: 6px 12px;
    border-color: var(--light-gray);
}
.contact_form textarea:focus{
    border: 1px solid var(--bs-primary);
    outline: 1px solid var(--bs-primary);
    box-shadow: none;
    border-radius: 0;
}
.booking{
    background-image: url(../img/booking-head-bg-3.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}